{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow-sm mt-4">
            <div class="card-header bg-dark text-white text-center">
                <h4 class="mb-0">Вход в систему</h4>
            </div>
            <div class="card-body p-4">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.username.label(class="form-label fw-bold") }}
                        {{ form.username(class="form-control") }}
                    </div>
                    <div class="mb-4">
                        {{ form.password.label(class="form-label fw-bold") }}
                        {{ form.password(class="form-control") }}
                    </div>
                    {{ form.submit(class="btn btn-dark w-100") }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}