{% extends "base.html" %}
{% block content %}
<h2>Создание новой заявки</h2>
<form method="POST" class="mt-3">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.category.label(class="form-label") }}
        {{ form.category(class="form-select") }}
    </div>
    <div class="mb-3">
        {{ form.description.label(class="form-label") }}
        {{ form.description(class="form-control", rows=5) }}
    </div>
    {{ form.submit(class="btn btn-success") }}
</form>
{% endblock %}